[submodule "DMCP_SDK"]
	path = DMCP_SDK
	url = https://github.com/swissmicros/DMCP_SDK.git
	branch = master
[submodule "micropython"]
	path = micropython
	url = https://github.com/fnordsh/micropython.git
	branch = pr5964-dmpy
